assemblyai==0.21.0
joblib==1.2.0
librosa==0.10.1
numpy==1.24.3
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
streamlit==1.31.0
textblob==0.17.1
